.image {
  width: 90%;
  height: 800px;
}
.styles-border img {
  border-radius: 1%;
  border-style: solid;
}
.Sign {
  align-items: center;
  background: linear-gradient(to right, #3fa5e5, rgb(12, 178, 215));
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.Sign a {
  margin-left: 79%;
  margin-right: 60px;
  color: black;
}
.Sign img {
  margin-bottom: -30px;
}

.icon {
  margin-left: -24px;
}
.Main {
  display: flexbox;
}
.moving-eye {
  margin-bottom: 10px;
  margin-right: 10px;
}
.moving-eye-sign-up {
  margin-bottom: 00px;
}
